* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

html {
	overflow: auto;
}
#body{
	background-image: url("../img/portada.jpg");
	background-size: cover;
}
h1{
	color: #D1CCCC;
	font-size: 550% !important;
	width: 70%;
	margin-top: 10%;
}
h1 +h3 {
	width: 70%;
	color: #E3DEDE;
}
.boton-iniciar-sesion {
	padding-left: 18%;
}